
div.code {
    display: block;
    border-radius: 10px;
    background-color: #eee8d5; /* base2 */
    padding: 20px 20px 20px 20px;
    font-family: 'Open Sans', Arial, sans-serif;
    color: #657b83;/* base00 */
    font-size: 18px;
}

div.code a {
    color: #268bd2;/* blue */
}

pre.haskell, pre.literal {
    font-family: monospace;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1px;
} 
pre.literal {background-color: #eee8d5;}
.hs-keyglyph {color: #2aa198;}/* cyan*/
.hs-layout {color:  #dc322f;}/* red */
.hs-comment a {color: #cb4b16;}/* orange*/
.hs-keyword {color: #2aa198;}/* cyan */
.hs-cpp {color: #cb4b16;}/* orange*/
.hs-sel {/* I have no idea what this is for, and I'm too lazy to check the source. */}
.hs-definition {color: #268bd2;}/* blue */
.hs-varop {color: #268bd2;} /* blue */ 
.hs-conop {color: #859900;}/* green */ 
.hs-varid {color: #657b83;}/* base00 */
.hs-conid {color: #b58900}/* yellow */
.hs-comment {color: #dc322f}/* red */
.hs-num, .hs-str, .hs-char {color: #2aa198;}/* cyan */

div.hs-logo {
    width: 700px;
    padding-bottom: 400px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHdpZHRoPSI0ODFwdCIgaGVpZ2h0PSIzNDBwdCIgdmlld0JveD0iMCAwIDQ4MSAzNDAiIHZlcnNpb249IjEuMSI+PGRlZnM+PGNsaXBQYXRoPjxwYXRoIGQ9Ik0gMCAzNDAgTCA0ODEgMzQwIEwgNDgxIDAgTCAwIDAgTCAwIDM0MCBaIE0gMCAzNDAiLz48L2NsaXBQYXRoPjwvZGVmcz48Zz48cGF0aCBzdHlsZT0iZmlsbDogIzY2NjY2NiIgZD0iTSAwIDM0MCBMIDExMyAxNzAgTCAwIDAgTCA4NSAwIEwgMTk4IDE3MCBMIDg1IDM0MCBMIDAgMzQwIFogTSAwIDM0MCIvPjxwYXRoIHN0eWxlPSJmaWxsOiAjOTk5OTlBIiBkPSJNIDExMyAzNDAgTCAyMjcgMTcwIEwgMTEzIDAgTCAxOTggMCBMIDQyNSAzNDAgTCAzNDAgMzQwIEwgMjY5IDIzMyBMIDE5OCAzNDAgTCAxMTMgMzQwIFogTSAxMTMgMzQwIi8+PHBhdGggc3R5bGU9ImZpbGw6ICM2NjY2NjYiIGQ9Ik0gMzg3IDI0MSBMIDM1MCAxODQgTCA0ODIgMTg0LjI1IEwgNDgyIDI0MSBMIDM4NyAyNDEgWiBNIDM4NyAyNDEiLz48cGF0aCBzdHlsZT0iZmlsbDogIzY2NjY2NiIgZD0iTSAzMzEgMTU2IEwgMjkzIDk5IEwgNDgyIDk5IEwgNDgyIDE1NiBMIDMzMSAxNTYgWiBNIDMzMSAxNTYiLz48L2c+PC9zdmc+Cg==);
    background-position: bottom right;
    background-repeat: no-repeat;
}